<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-gate_last" class="control-label col-xs-12 col-sm-2">{:__('Gate_last')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_last" class="form-control" name="row[gate_last]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_last" class="control-label col-xs-12 col-sm-2">{:__('Bcex_last')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_last" class="form-control" name="row[bcex_last]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_bid" class="control-label col-xs-12 col-sm-2">{:__('Gate_bid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_bid" class="form-control" name="row[gate_bid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_ask" class="control-label col-xs-12 col-sm-2">{:__('Gate_ask')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_ask" class="form-control" name="row[gate_ask]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_high" class="control-label col-xs-12 col-sm-2">{:__('Gate_high')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_high" class="form-control" name="row[gate_high]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_low" class="control-label col-xs-12 col-sm-2">{:__('Gate_low')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_low" class="form-control" name="row[gate_low]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_vol" class="control-label col-xs-12 col-sm-2">{:__('Gate_vol')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_vol" class="form-control" name="row[gate_vol]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_base_volume" class="control-label col-xs-12 col-sm-2">{:__('Gate_base_volume')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_base_volume" class="form-control" name="row[gate_base_volume]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-gate_change_daily" class="control-label col-xs-12 col-sm-2">{:__('Gate_change_daily')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gate_change_daily" class="form-control" name="row[gate_change_daily]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_bid" class="control-label col-xs-12 col-sm-2">{:__('Bcex_bid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_bid" class="form-control" name="row[bcex_bid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_ask" class="control-label col-xs-12 col-sm-2">{:__('Bcex_ask')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_ask" class="form-control" name="row[bcex_ask]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_high" class="control-label col-xs-12 col-sm-2">{:__('Bcex_high')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_high" class="form-control" name="row[bcex_high]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_low" class="control-label col-xs-12 col-sm-2">{:__('Bcex_low')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_low" class="form-control" name="row[bcex_low]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_vol" class="control-label col-xs-12 col-sm-2">{:__('Bcex_vol')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_vol" class="form-control" name="row[bcex_vol]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_base_volume" class="control-label col-xs-12 col-sm-2">{:__('Bcex_base_volume')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_base_volume" class="form-control" name="row[bcex_base_volume]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-bcex_change_daily" class="control-label col-xs-12 col-sm-2">{:__('Bcex_change_daily')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bcex_change_daily" class="form-control" name="row[bcex_change_daily]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-update_stamps" class="control-label col-xs-12 col-sm-2">{:__('Update_stamps')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_stamps" class="form-control" name="row[update_stamps]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
